<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubx.formslibrary" >
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        tools:replace="android:theme"
        android:theme="@style/AppTheme">
        <activity android:name="com.ubx.formslibrary.view.activity.ViewFormActivity"/>
        <activity android:name="com.ubx.formslibrary.view.activity.UpdateFormActivity"/>
        <activity android:name="com.ubx.formslibrary.view.activity.CameraActivity"/>
        <activity android:name="com.ubx.formslibrary.view.activity.SelectListActivity"/>
    </application>
</manifest>
